# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Database
*.db